{{ define "main" }}
{{ $headless := .Site.GetPage "/homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<nav class='fixed-nav'>
    {{ with .Site.Params.small_logo }}<img src="{{ . | absURL }}" class="menu-icon"/>{{ end }}
</nav>

<header id="site-head" {{ with .Params.header_image }}style="background-image: url({{ . }})"{{ end }}>
    <div class="vertical">
        <div id="site-head-content" class="inner">

            {{ with .Params.game_logo }}<img class="game-title" src={{ . }}>{{ end }}
            {{ with .Params.header_subheadline }}<h2 class="blog-description">{{ . }}</h2>{{ end }}
            
            <div class="video-container">
            {{ with .Params.trailer_link }}<iframe class="game-trailer" src={{ . }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>{{ end }}
            </div>
            

            {{ range where $sections ".Params.header_menu" "eq" true }}
            <a class='btn site-menu {{.Params.tag}}' data-title-anchor='{{ anchorize .Title }}'>{{ .Title }}</a>
            {{ end }}
            <a class='btn wishlist' href='https://store.steampowered.com/app/1402740/The_Prabbits_Happy_Dogfights/'>Wishlist On Steam</a>

            <i id='header-arrow' class="fa fa-angle-down"></i>
        </div>
    </div>
</header>

<main class="content" role="main">

    {{ range $index_val, $elem_val := $sections }}
        <div class='post-holder'>
            <article id='{{ anchorize .Title }}' class='post {{ if eq $index_val 0 }}first{{ else }}{{ if eq (add $index_val 1) (len $sections) }}last{{ end }}{{ end }}'>
                <header class="post-header">
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
                <section class="post-content">
                    {{ .Content }}
                </section>
            </article>
            <div class='post-after'></div>
        </div>
    {{ end }}
</main>
{{ end }}
